th, td {
    text-align: center;
    padding: 5px;
}

th {    
    background-color: seagreen;
    color: white;
}

body {
    background-color: grey;
}

tr.removable:nth-child(even){
    background-color: white;
}

tr.removable:nth-child(odd){
    background-color: rgba(68, 68, 228, 0.842);
}